@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-box: #D8E9F0;
  --color-nav:#02437B;
}
:root {
  --background: #001446;
  --foreground: #02437B;
  --danger:#990f02;
  --warning:#E49B0F;
  --color-white: #fff;
  --box-color: #D8E9F0;
}

h1 {
  font-weight: bold;
  font-size: 48px;
}
h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-weight: bold;
  font-size: 24px;
}
h4 {
  font-weight: bold;
  font-size: 20px;
}

.btn-erp-primary{
  border: none;
  border-radius: 20;
  background-color: var(--background);
  color: var(--color-white);
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-erp-secondary{
  border: none;
  border-radius: 20;
  background-color: var(--foreground);
  color: var(--color-white);
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-erp-danger{
  border: none;
  border-radius: 20;
  background-color: var(--danger);
  color: var(--color-white);
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-erp-warning{
  border: none;
  border-radius: 20;
  background-color: var(--warning);
  color: var(--color-white);
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-erp-primary:hover,.btn-erp-warning:hover, .btn-erp-danger:hover,.btn-erp-secondary:hover{
  opacity: 0.8;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, sans-serif;
}